<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skills Table</title>
  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    span.mono {
      font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    }

    a:visited {
      color: LinkText;
    }

    th a {
      color: inherit !important;
    }

    * {
      box-sizing: border-box;
    }

    .row {
      margin-left: -5px;
      margin-right: -5px;
    }

    .column {
      float: left;
      width: 25%;
      padding: 5px;
    }

    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
    }

    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      border: 1px solid #ddd;
    }

    th,
    td {
      text-align: left;
    }

    th.modifier,
    td.modifier {
      text-align: center;
    }

    td.checkCell {
      width: 33%;
    }

    tr:nth-child(odd) {
      background-color: #eee;
    }
  </style>
</head>
<base target="_blank">

<body>
  <script>
    let abilityScores = {
      'Str': 11,
      'Dex': 13,
      'Con': 13 + 2 /* Dwarf bonus */,
      'Int': 15,
      'Wis': 16 + 1 /* Hill Dwarf bonus */,
      'Cha': 12
    }

    let proficiencyBonus = 3

    let skills = [
      { skill: 'Acrobatics', modifier: 'Dex' },
      { skill: 'Animal Handling', modifier: 'Wis' },
      { skill: 'Arcana', modifier: 'Int', proficient: true },
      { skill: 'Athletics', modifier: 'Str' },
      { skill: 'Deception', modifier: 'Cha' },
      { skill: 'History', modifier: 'Int', proficient: true },
      { skill: 'Insight', modifier: 'Wis' },
      { skill: 'Intimidation', modifier: 'Cha' },
      { skill: 'Investigation', modifier: 'Int', proficient: true },
      { skill: 'Medicine', modifier: 'Wis' },
      { skill: 'Nature', modifier: 'Int', proficient: true },
      { skill: 'Perception', modifier: 'Wis' },
      { skill: 'Performance', modifier: 'Cha' },
      { skill: 'Persuasion', modifier: 'Cha' },
      { skill: 'Religion', modifier: 'Int' },
      { skill: 'Sleight of Hand', modifier: 'Dex' },
      { skill: 'Stealth', modifier: 'Dex' },
      { skill: 'Survival', modifier: 'Wis', proficient: true },
    ]

    let saves = [
      { save: 'Str', proficient: true },
      { save: 'Dex', proficient: true },
      { save: 'Con' },
      { save: 'Int' },
      { save: 'Wis' },
      { save: 'Cha' }
    ]

    let rollOptions = {
      app: function (bonus, { advantage, disadvantage } = {}) {
        let suffix = ''
        if (advantage) {
          suffix = '(ADV)'
        } else if (disadvantage) {
          suffix = '(DIS)'
        }
        return `dice://roll/d20+${bonus}${suffix}`
      },
      site: function (bonus, { advantage, disadvantage } = {}) {
        let bonusSuffix = bonus != 0 ? `+${bonus}` : ''
        let roll = undefined
        if (advantage) {
          roll = '2d20max'
        } else if (disadvantage) {
          roll = '2d20min'
        } else {
          roll = 'd20'
        }
        return `https://dice.run/#/d/${roll}${bonusSuffix}`
      }
    }
    let diceApp = decodeURI(window.location.hash?.substring(1) ?? '')
    if (diceApp == '') { diceApp = 'app' }
    let diceUrlFunction = rollOptions[diceApp]

    function abilityModifier(ability) {
      return Math.floor((abilityScores[ability] - 10) / 2)
    }

    function createProficiency(proficient, multiplier) {
      multiplier ||= 1
      let symbol = multiplier > 1 ? 'E' : 'P'
      return { proficiency: proficient ? symbol : ' ', bonus: (proficient ? 1 : 0) * proficiencyBonus * multiplier }
    }

    function CheckCell(props) {
      return {
        $template: '#check-cell',
        bonus: props.bonus,
        advantage: props.advantage,
        diceUrlFunction: diceUrlFunction
      }
    }

    function SkillRow(props) {
      let skill = props.skill
      let proficiencyMultiplier = props.proficiencyMultiplier
      let proficiency = createProficiency(skill.proficient, proficiencyMultiplier)
      let bonus = abilityModifier(skill.modifier) + proficiency.bonus

      return {
        $template: '#skill-row',
        skill: skill,
        proficiency: proficiency,
        bonus: bonus,
        advantage: props.advantage
      }
    }

    function SkillsTable(props) {
      let skills = props.skills
      let filter = props.filter ?? (s => true)

      return {
        $template: '#skills-table',
        title: props.title,
        skills: skills.filter(filter),
        proficiencyMultiplier: props.proficiencyMultiplier,
        advantage: props.advantage
      }
    }

    function SaveRow(props) {
      let save = props.save
      let proficiencyMultiplier = props.proficiencyMultiplier
      let proficiency = createProficiency(save.proficient, proficiencyMultiplier)
      let bonus = abilityModifier(save.save) + proficiency.bonus

      return {
        $template: '#save-row',
        save: save,
        proficiency: proficiency,
        bonus: bonus,
        advantage: props.advantage
      }
    }

    function SavesTable(props) {
      let saves = props.saves
      let filter = props.filter ?? (s => true)

      return {
        $template: '#saves-table',
        title: props.title,
        saves: saves.filter(filter),
        proficiencyMultiplier: props.proficiencyMultiplier,
        advantage: props.advantage
      }
    }
  </script>

  <template id="check-cell">
    <span class="mono">
      <a :href="`${diceUrlFunction(bonus)}`">+{{bonus}}</a>
      <a v-if="advantage" :href="`${diceUrlFunction(bonus, { advantage: true })}`"
        target="_blank"><strong>ADV</strong></a>
      <a v-else :href="`${diceUrlFunction(bonus, { advantage: true })}`">ADV</a>
      <a :href="`${diceUrlFunction(bonus, { disadvantage: true })}`">DIS</a>
    </span>
  </template>

  <template id="skill-row">
    <td><span class="mono">[{{proficiency.proficiency}}]</span> {{skill.skill}} ({{skill.modifier}})</td>
    <td class="checkCell" class="modifier" v-scope="CheckCell({ bonus: bonus, advantage: advantage })"></td>
  </template>

  <template id="skills-table">
    <tr>
      <th colspan="2" style="text-align: center;" v-html="title"></th>
    </tr>
    <tr>
      <th>Skill</th>
      <th class="modifier">Modifier</th>
    </tr>
    <template v-for="skill in skills">
      <tr v-scope="SkillRow({ skill: skill, proficiencyMultiplier: proficiencyMultiplier, advantage: advantage })"></tr>
    </template>
  </template>

  <template id="save-row">
    <td><span class="mono">[{{proficiency.proficiency}}]</span> {{save.save}}</td>
    <td class="checkCell" class="modifier" v-scope="CheckCell({ bonus: bonus, advantage: advantage })"></td>
  </template>

  <template id="saves-table">
    <tr>
      <th colspan="2" style="text-align: center;" v-html="title"></th>
    </tr>
    <tr>
      <th>Save</th>
      <th class="modifier">Modifier</th>
    </tr>
    <template v-for="save in saves">
      <tr v-scope="SaveRow({ save: save, proficiencyMultiplier: proficiencyMultiplier, advantage: advantage })"></tr>
    </template>
  </template>

  <div class="row">
    <div>
      <table style="border-spacing: 10px; border: 0px; border-collapse: separate;"
        v-scope="{ names: Object.keys(abilityScores), abilityScores: abilityScores }">
        <tr>
          <th style="padding-top: 10px; padding-bottom: 10px; width: 16.6%;" v-for="ability in names" class="modifier">
            <span class="mono">{{ ability }}</span><br>
            <span class="mono">{{ abilityScores[ability] }}</span><br>
            <span class="mono">+{{ abilityModifier(ability) }}&nbsp;</span>
          </th>
        </tr>
        <tr>
          <th colspan="6" v-scope="proficiencyBonus" class="modifier">
            <span class="mono">Proficiency Bonus</span><br>
            <span class="mono">+{{ proficiencyBonus }}&nbsp;</span>
          </th>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <table
        v-scope="SkillsTable({ title: 'Skills<br><a href=&quot;https://www.dungeonmastersvault.com/pages/dnd/5e/characters/17592319397230&quot;>character sheet</a>', skills: skills })">
      </table>
    </div>
    <div class="column">
      <table v-scope="SkillsTable({ title: 'Int skills', skills: skills, filter: s => s.modifier == 'Int' })"></table>
      <table v-scope="SkillsTable({ title: 'Wis skills', skills: skills, filter: s => s.modifier == 'Wis' })"></table>
    </div>
    <div class="column">
      <table
        v-scope="SkillsTable({ title: '<a href=&quot;http://dnd5e.wikidot.com/ranger#:~:text=at%2014th%20level.-,Natural%20Explorer,-Also%20at%201st&quot;>Favored Terrain</a><br>expertise on Forest', skills: skills, filter: s => (s.modifier == 'Int' || s.modifier == 'Wis') && s.proficient, proficiencyMultiplier: 2 })">
      </table>
      <table
        v-scope="SkillsTable({ title: '<a href=&quot;http://dnd5e.wikidot.com/ranger#:~:text=of%2020%20arrows-,Favored%20Enemy,-Beginning%20at%201st&quot;>Favored Enemy</a><br>ADV on orc, goblin', skills: skills, filter: s => s.modifier == 'Int' || s.skill == 'Survival', advantage: true })">
      </table>
      <table
        v-scope="SkillsTable({ title: '<a href=&quot;http://dnd5e.wikidot.com/lineage:dwarf#:~:text=Stonecunning&quot;>Stonecunning</a><br>expertise on stonework', skills: skills, filter: s => s.skill == 'History', proficiencyMultiplier: 2 })">
      </table>
    </div>
    <div class="column">
      <table v-scope="SavesTable({ title: 'Saves', saves: saves })"></table>
      <table
        v-scope="SavesTable({ title: '<a href=&quot;http://dnd5e.wikidot.com/lineage:dwarf#:~:text=Dwarven%20Resilience&quot;>Dwarven Resilience</a><br>ADV against poison<br>also half damage', saves: saves, filter: s => s.save == 'Con', advantage: true })">
      </table>
    </div>
  </div>
  <script src="https://unpkg.com/petite-vue"></script>
  <script>
    PetiteVue.createApp({
      skills: skills,
      SkillsTable,
      SavesTable
    }).mount()
  </script>
</body>

</html>