---
import "../../public/styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D&D Character Sheets{import.meta.env.DEV ? " [dev]" : ""}</title>
  </head>
  <body>
    <div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
      <div style="width: 300px;">
        <table>
          <tr>
            <th>Characters</th>
          </tr>
          <tr>
            <td><a href="/Azamat">Azamat</a></td>
          </tr>
          <tr>
            <td><a href="/Adrik">Adrik</a></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
