---
import D20TestCell from "./common/D20TestCell.tsx";
import type { Character } from "../js/character/Character.ts";

interface Props {
  character: Character;
}

const { character } = Astro.props;
---

<div class="abilities-container">
  {
    character.getAbilityChecks().map(({ ability, check }) => (
      <div class="ability-item">
        <span class="mono ability-name">{ability}</span>
        <span class="mono ability-score">{character.abilityScores[ability]}</span>
        <span class="checkCell">
          <D20TestCell client:load roll={check} />
        </span>
      </div>
    ))
  }
</div>
