---
import CheckCell from "./CheckCell.tsx";
import type { Character } from "../js/Character";

interface Props {
  character: Character;
}

const { character } = Astro.props;
---

<div class="abilities-container">
  {
    character.getAbilities().map((ability) => (
      <div class="ability-item">
        <span class="mono ability-name">{ability}</span>
        <span class="mono ability-score">{character.abilityScores[ability]}</span>
        <span class="checkCell">
          <CheckCell client:only="react" bonus={character.getAbilityModifier(ability)} />
        </span>
      </div>
    ))
  }
</div>
