---
import D20TestCell from "./common/D20TestCell.tsx";
import type { Character } from "../js/character/Character.ts";

interface Props {
  character: Character;
}

const { character } = Astro.props;
---

{
  character.getAbilityChecks().map(({ ability, check }) => (
    <div class="column ability-item">
      <span class="mono ability-name">{ability}</span>
      <span class="mono ability-score">{character.abilityScores[ability]}</span>
      <span class="checkCell">
        <D20TestCell client:load roll={check} />
      </span>
    </div>
  ))
}
