---
const { bonus, advantage = false } = Astro.props;
const bonusSign = bonus >= 0 ? '+' : '';
---
<span class="mono check-cell" data-bonus={bonus} data-advantage={advantage}>
  <a class="regular-link" href="">{bonusSign}{bonus}</a>
  <a class="advantage-link" href="">{advantage ? <Fragment set:html={'<strong>ADV</strong>'} /> : 'ADV'}</a>
  <a class="disadvantage-link" href="">DIS</a>
</span>
