---
import D20TestCell from "./common/D20TestCell.tsx";
import type { SavingThrow } from "../js/character/CharacterTypes.ts";

interface Props {
  savingThrow: SavingThrow;
  advantage?: boolean;
}

const { savingThrow, advantage } = Astro.props;
const check = savingThrow.check;
---

<tr>
  <td><span class="mono">[{check.getProficiency().symbol}]</span> {check.getAbility()}</td>
  <td class="checkCell">
    <D20TestCell client:load roll={check} advantage={advantage} />
  </td>
</tr>
