---
import CheckCell from "./CheckCell.tsx";
import type { Ability, Proficiency } from "../js/CharacterTypes";
import type { D20Test } from "../js/D20Test";

interface Props {
  ability: Ability;
  proficiency: Proficiency;
  check: D20Test;
  advantage?: boolean;
}

const { ability, proficiency, check, advantage } = Astro.props;
---

<tr>
  <td><span class="mono">[{proficiency.symbol}]</span> {ability}</td>
  <td class="checkCell">
    <CheckCell client:only="react" check={check} advantage={advantage} />
  </td>
</tr>
