---
import type { Character } from "../js/Character";
import type { SavingThrow } from "../js/CharacterTypes";
import SaveRow from "./SaveRow.astro";

interface Props {
  title: string;
  character: Character;
  savingThrows?: SavingThrow[];
  advantage?: boolean;
}

const { title, advantage, character, savingThrows } = Astro.props;
const savingThrowsFinal = savingThrows ?? character.getSavingThrows();
---

<table>
  <tr>
    <th colspan="2" style="text-align: center;" set:html={title} />
  </tr>
  <tr>
    <th>Save</th>
    <th class="modifier">Modifier</th>
  </tr>
  {
    savingThrowsFinal.map((savingThrow) => {
      return <SaveRow savingThrow={savingThrow} advantage={advantage} />;
    })
  }
</table>
