---
import CheckCell from "./CheckCell.tsx";
const { ability, proficiency, bonus, advantage } = Astro.props;
---

<tr>
  <td><span class="mono">[{proficiency.symbol}]</span> {ability}</td>
  <td class="checkCell">
    <CheckCell client:only="react" bonus={bonus} advantage={advantage} />
  </td>
</tr>
