---
import CheckCell from "./CheckCell.tsx";
import { D20Test } from "../js/D20Test.ts";
const { skill, ability, proficiency, bonus, advantage } = Astro.props;
---

<tr>
  <td><span class="mono">[{proficiency.symbol}]</span> {skill} ({ability})</td>
  <td class="checkCell">
    <CheckCell client:only="react" check={new D20Test(bonus)} advantage={advantage} />
  </td>
</tr>
