body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

span.mono {
  font-family:
    ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", "Courier New", monospace;
}

a.dice-roll,
a.dice-roll:visited {
  background-color: #f1a20f;
  color: white;
}

th a:not(.dice-roll) {
  color: inherit !important;
}

a:visited {
  color: LinkText;
}

* {
  box-sizing: border-box;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
}

th.modifier,
td.modifier {
  text-align: center;
}

td.checkCell {
  width: 33%;
  text-align: end;
}

tr:nth-child(odd) {
  background-color: #eee;
}
