body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.mono {
  font-family:
    ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono",
    "Droid Sans Mono", "Courier New", monospace;
}

a.dice-roll,
a.dice-roll:visited {
  background-color: #f1a20f;
  color: white;
  text-decoration: none;
}

th a:not(.dice-roll) {
  color: inherit !important;
}

/* Show desktop view by default, hide mobile view */
.check-cell-desktop {
  display: inline-block;
}

.check-cell-mobile {
  display: none;
}

/* On mobile screens, show mobile view, hide desktop view */
@media screen and (max-width: 600px) {
  .check-cell-desktop {
    display: none;
  }

  .check-cell-mobile {
    display: inline;
  }
}

a:visited {
  color: LinkText;
}

* {
  box-sizing: border-box;
}

.row {
  margin-bottom: 10px;
}

/* 4 equal columns */
.row.four-across {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.row.six-across {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
}

/* Specialcolumns: 22% 22% 22% remaining */
.row.three-and-large {
  display: grid;
  gap: 10px;
  grid-template-columns: 22% 22% 22% 1fr;
}

.column {
  display: flex;
  flex-direction: column;
}

/* Mobile: single column */
@media screen and (max-width: 600px) {
  .row:has(> .column) {
    grid-template-columns: 1fr;
  }
  .row.six-across:has(> .column) {
    grid-template-columns: repeat(3, 1fr);
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
}

th.modifier,
td.modifier {
  text-align: center;
}

td.checkCell {
  width: 33%;
  text-align: end;
}

tr:nth-child(odd) {
  background-color: #eee;
}

.ability-item {
  align-items: center;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

.ability-name {
  font-weight: bold;
  margin-bottom: 4px;
}

.ability-score {
  margin-bottom: 4px;
}

input[type="text"] {
  width: 5em;
  height: 1.6em;
  text-align: right;
  vertical-align: middle;
  margin-top: -2.7px;
}

.short-input input[type="text"] {
  width: 3em;
}

/* Info Tooltip styles */
.info-tooltip-button {
  cursor: pointer;
  text-decoration: underline dotted;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
}

.info-tooltip-dialog {
  max-width: 600px;
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: start;

  & h2 {
    margin-top: 0;
    margin-bottom: 0;

    & .source {
      font-size: 0.5em;
      font-weight: normal;
    }
  }

  & p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    &.byline {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    &.property {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  & .button-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }

  & highlight-5e {
    color: #a16b08;
  }
}
